#mecart-container {
  width: 100%;
  max-width: 100%;
}

.page-footer {
  position: fixed;
  bottom: 65px;
  width: 100%;
  height: fit-content;
}

.brand-logo{
  left: 1em;
}

/* .nan-wrapper{

} */


/* 
Green colour scheme


*/